<%- include('template/head.ejs') %> <%- include('template/nav.ejs') %>
<div class="mt-md-5" style="margin-top: 55px">
  <div class="mt-md-0 pb-md-5" style="background-color: #cccc">
    <div class="row justify-content-center">
      <div class="col">
        <h1
          style="color: #595959; opacity: 75%"
          class="mt-md-5 fw-bold text-center"
        >
          TENTANG KAMI
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 mt-md-4 text-center">
        <p>
          Di Makkah, kami fokus pada kehidupan Muslim sehari-hari. Kami adalah
          tujuan digital yang semua orang sebut rumah. Kami menyediakan alat
          keagamaan, aliran konten dan ide yang dipersonalisasi yang melibatkan,
          menginspirasi, dan mendukung komunitas Muslim yang beragam - sepanjang
          waktu, di seluruh dunia. Sebuah rumah digital untuk semua hal Muslim.
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="mt-md-0" style="margin-top: 25px">
    <div class="row justify-content-center">
      <div class="col">
        <h1
          style="color: #595959; opacity: 75%"
          class="mt-md-5 fw-bold text-center"
        >
          <img src="Logo.png" alt="logo" width="300px" />
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 mt-md-4 text-center">
        <p>
          Fitur kami memiliki proposisi berbeda yang menambah nilai bagi
          kehidupan Muslim. Kami telah memelopori dunia teknologi Muslim dan
          membangun rumah digital di mana umat Islam berada, siapa pun dan di
          mana pun mereka berada. Platform perintis kami memelihara dan
          memperkaya pengalaman sehari-hari dengan berkolaborasi dengan Muslim
          perintis untuk memperjuangkan dan menemukan tren, momen, dan ide
          terbaru. Kami beragam sekelompok individu dari berbagai negara di
          wilayah geografis. Kami adalah bagian dari komunitas Muslim dan
          berkomitmen untuk kemajuan kehidupan Muslim..
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row mt-md-5">
      <div class="col-md-2"></div>
      <div class="col-md-4 justify-content-center text-center">
        <div class="card" id="mission-img">
          <img
            src="mission.png"
            class="card-img-top"
            alt="mission-illustration"
          />
          <div class="card-body">
            <h5 class="card-title">OUR Mission</h5>
            <p class="card-text">
              Penyedia digital sentris Muslim tepercaya, memperkaya kehidupan
              melalui perawatan layanan terpadu, mendorong inovasi, dan
              memberdayakan pengetahuan.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 justify-content-center text-center">
        <div class="card" id="vision-img">
          <img
            src="vision.PNG"
            class="card-img-top"
            alt="mission-illustration"
          />
          <div class="card-body">
            <h5 class="card-title">OUR VISION</h5>
            <p class="card-text" style="height: 70px !important">
              Untuk memperjuangkan kehidupan Muslim.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="mt-md-0" style="margin-top: 25px">
    <div class="row mt-md-5">
      <h1
        style="color: #595959; opacity: 75%"
        class="mt-md-5 fw-bold text-center"
      >
        OUR VALUES
      </h1>
    </div>
    <div class="row mt-md-5 px-md-5">
      <div class="col-md-4">
        <div class="card" id="vision-img">
          <img
            src="values-1.jpg"
            class="card-img-top"
            alt="mission-illustration"
          />
          <div class="card-body">
            <h5 class="card-title text-center">Semangat Budaya dan Inovasi</h5>
            <p class="card-text text-center">
              Kami bersemangat dan berkomitmen untuk proses konstan mengubah ide
              menjadi solusi untuk meningkatkan aplikasi dan menjadikannya
              bagian dari gaya hidup Muslim.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" id="vision-img">
          <img
            src="values-2.jpg"
            class="card-img-top"
            alt="mission-illustration"
          />
          <div class="card-body">
            <h5 class="card-title text-center">Rasa Kebersamaan</h5>
            <p class="card-text text-center">
              Komunitas adalah aset terpenting kami. Setiap individu, terlepas
              dari latar belakang mereka, memainkan peran penting dalam
              menciptakan suara dan membangun tulang punggung bagi komunitas
              Muslim.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" id="vision-img">
          <img
            src="values-3.jpg"
            class="card-img-top"
            alt="mission-illustration"
          />
          <div class="card-body">
            <h5 class="card-title text-center">Menghargai Keberagaman</h5>
            <p class="card-text text-center">
              Dunia Muslim sangat luas dengan kemungkinan dan peluang yang tak
              terbatas. Kami menghargai upaya kolaboratif dengan talenta segar
              dan beragam untuk membuka potensi komunitas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-md-0" style="padding-top: 2rem">
    <div
      class="d-flex mt-md-5 justify-content-between"
      style="background-color: #f2f2f2"
    >
      <div class="p-2 mt-md-4">
        <a
          href="https://github.com/Ilham-Darmawan"
          class="fw-bold p-2"
          style="text-decoration: none; color: black"
          >Github</a
        >
        <a
          href="https://www.linkedin.com/in/muhamad-ilham-darmawan-94a085221/"
          class="fw-bold p-2"
          style="text-decoration: none; color: black"
          >Linkedin</a
        >
      </div>
      <div class="p-2 mt-md-4">
        <p class="fw-bold me-md-5">© 2022 Alright Reserved</p>
      </div>
    </div>
  </div>
</div>
<%- include('template/footer.ejs') %>
