<nav class="shadow-sm navbar navbar-expand-lg fw-bold fixed-top navbar-dark" style="background-color: #8b9854; color: #595959;">
    <div class="container-fluid">
      <img src="Logo.png" alt="Logo Makkah" width="80px">
      <a class="navbar-brand me-md-5 ps-md-1" href="#">Makkah</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item mx-md-4">
            <a class="nav-link <%- beranda_active %>" aria-current="page" href="/">BERANDA</a>
          </li>
          <li class="nav-item mx-md-4">
            <a class="nav-link <%- about_active %>" href="about">TENTANG KAMI</a>
          </li>
          <li class="nav-item mx-md-4">
            <a class="nav-link <%- pray_active %>" href="pray">WAKTU SHOLAT</a>
          </li>
          <li class="nav-item mx-md-4">
            <a class="nav-link <%- quran_active %>" href="quran">QURAN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>